/* whole */
.container{
    border:solid black 0.3rem;
    border-radius:8px;
    max-width:60rem ;
    margin-left:18%;
    margin-right:18%;
    margin-top:4rem;
}

/*Heading */
.container>.heading{
    background-color: red;
    text-align: center;
    color:white;
    font-size:3rem;
    margin-top:0.2rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
    max-width:50rem;
}

/* Horizontal line */
hr{
 border-color:black;
 width:15rem;    
border-width:2px;
}

/* First line */
.line{
    display: flex;
    margin-left:7.5px;
    justify-content: space-around;  
    margin-top: -3rem; 
}
/* Secondline */
.name{
    display: flex;
    justify-content: space-around;
    margin-top: -1.2rem;
    margin-left: 0rem;
    margin-right: 9.9rem;
    font-family: sans-serif;
}
/* third line */
.address
{
    width:44rem;
}
/* Fourth line */
.ss{
    margin-top: 0rem;
    margin-left: 4rem;
    font-family: sans-serif;
}
/* Fifth line */
.csz
{
    width: 50rem;
    display: flex;
    justify-content: space-around;
    margin-left:2rem;
}
/* Sixth line */
.zsc{
    display: flex;
    margin-top:-1rem;
    justify-content: space-around;
    font-family: sans-serif;
}

/* Content */
.line1{
    font-family: 'Dancing Script', cursive;
font-size:2rem;
color: black;
display: flex;
margin-top: -4rem;
justify-content: space-around;
}

.line2{
    font-family: 'Dancing Script', cursive;
    font-size:2rem;
    color: black;
    margin-top: -2rem;
    margin-left: 10rem;
    margin-bottom: -0.5rem;
}


.line3{
    font-family: 'Dancing Script', cursive;
    font-size:2rem;
    color: black;
    display: flex;
    margin-top: -5rem;
    margin-bottom: -3rem;
    justify-content: space-around;
}

.subscribe {
    margin-left: 3rem;
    font-family: 'Lateef', cursive;
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 1rem;
}



